body {
    padding: 10px;
}
#create {
    margin-top: 5px;
}

form input, textarea {
    width: 500px;
}

.auction {
    display: flex;
    padding-bottom: 10px;
}
.auction_image {
    display: inherit;
    width: 400px;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}