body {
    padding: 10px;
}
h2 {
    margin-bottom: 20px;
}
button {
    margin: 5px;
}

#create_listing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#create_listing input, #create_listing textarea {
    width: 500px;
}

.auction_listing {
    display: flex;
    margin-bottom: 20px;
}
.auction_listing .listing_image {
    display: inherit;
    margin-right: 25px;
    justify-content: center;
    align-items: baseline;
    min-width: 300px;
}
.auction_listing img {
    max-width: 300px;
    max-height: 300px;
}
.auction_listing .listing_price {
    margin-bottom: 10px;
}
.auction_listing .listing_description {
    margin-bottom: 10px;
}
.listing_date {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.auction_listing .no_image {
    display: inherit;
    margin: auto;
    justify-content: center;
}
/* listing page */
.auction {
    display: flex;
    flex-direction: column;
}
.auction .listing_image {
    display: inherit;
    justify-content: center;
    margin-bottom: 10px;
}
.auction img {
    max-height: 400px;
}
.auction .no_image {
    display: inherit;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.auction .listing_price, .listing_category, .listing_description, .listing_details {
    margin-bottom: 10px;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.listing_comments {
    display: inherit;
    flex-direction: column;
}
.comment_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_form textarea{
    width: 500px;
}

.comment {
    display: inherit;
    flex-direction: column;
    margin-bottom: 10px;
}

.comment_details {
    font-size: 12px;
    color: grey;
}