{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create a Listing</h2>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
        </div>
        <div>
            <input type="text" id="title" name="title" autofocus  required>
        </div>
        <div>
            <label for="description">Description:</label>
        </div>
        <div>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="category">Category (Optional):</label>
        </div>
        <div>
            <input id="category" type="text" name="category">
        </div>
        <div>
            <label for="starting_price">Starting Price:</label>
        </div>
        <div>
            <input id="starting_price" type="number" placeholder="0.00" required name="price" min="0" step="0.01" title="Currency">
        </div>
        <div>
            <label for="image">Image URL (Optional):</label>
        </div>
        <div>
            <input id="image" type="text" name="image">
        </div>
        <div>
            <input id="create" type="submit" value="Create listing">
        </div>
    </form>
{% endblock %}