{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for auction in auctions %}
        <div class="auction">
            <div class="auction_image">{% if auction.image != "" %}<img src="{{ auction.image }}" alt="{{ auction.title }}" width="400" height="auto">{% else %}No Image{% endif %}</div>
            <div class="auction_details">
                <h5><a href="{% url 'listing' auction.title %}">{{ auction.title }}</a></h5>
                Price: ${{ auction.starting_price }}
                <p>{{ auction.description }}</p>
                {% if auction.category != "" %}
                Category: {{ auction.category }}
                {% endif %}
                <span>Created on {{ auction.created }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}