{% extends "auctions/layout.html" %}
{% load tz %}

{% block body %}
    <h2>Active Listings</h2>
    {% for auction in auctions %}
        <div class="auction">
            <div><img src="{{ auction.image }}" alt="{{ auction.title }}" width="auto" height="300"></div>
            <div>
                <h5>{{ auction.title }}</h5>
                <p>Price {{ auction.starting_price }}</p>
                <p>{{ auction.description }}</p>
                <p>Created on {% localtime on %}{{ auction.created }}{% endlocaltime %}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}